* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background: #ecf2f8;
}

p {
  line-height: 1.5;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100vh;
  padding: 0 1.5rem;
}

.article {
  max-width: 350px;
  margin: 0 auto 2rem;
  background: white;
  border-radius: 0.5rem;
  -webkit-box-shadow: 1px 1px 50px -20px #9eafc2;
          box-shadow: 1px 1px 50px -20px #9eafc2;
}

@media screen and (min-width: 768px) {
  .article {
    max-width: 670px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto 2rem;
  }
}

.article-image-crop {
  width: 100%;
  height: 220px;
  overflow: hidden;
  border-radius: 0.5rem 0.5rem 0 0;
}

@media screen and (min-width: 768px) {
  .article-image-crop {
    height: 270px;
    width: 100%;
    border-radius: 0.5rem 0 0 0.5rem;
  }
}

.article-image {
  width: 100%;
  display: block;
}

@media screen and (min-width: 768px) {
  .article-image {
    width: 340px;
  }
}

.article-snippet {
  margin-bottom: 1rem;
  padding: 1.75rem 2rem 0;
}

@media screen and (min-width: 768px) {
  .article-snippet {
    margin-bottom: 0;
  }
}

.article-snippet-heading {
  color: #48556a;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

@media screen and (min-width: 768px) {
  .article-snippet-heading {
    font-size: 1.2rem;
  }
}

.article-snippet-p {
  color: #6d7f97;
  font-size: 0.8rem;
}

.article-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 88px;
  padding: 1.5rem 2rem;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  border-radius: 0 0 0.5rem 0.5rem;
}

.article-author-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 1rem;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.article-info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.article-author-name {
  color: #48556a;
  font-size: 0.8rem;
}

.article-date {
  color: #6d7f97;
  font-size: 0.7rem;
}

.article-share {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.article-share p {
  color: #9eafc2;
  font-size: 0.8rem;
}

.article-share p,
.article-share svg {
  margin-right: 1rem;
}

.article-share-btn {
  border: none;
  background: #ecf2f8;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 0.1rem;
}

.article-share-btn svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.article-btn-tooltip {
  position: absolute;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 170px;
  padding: 0.75rem 1rem;
  bottom: 50px;
  left: -70px;
  border-radius: 0.5rem;
  background: #48556a;
  -webkit-box-shadow: 0 2px 10px 1px #9eafc2;
          box-shadow: 0 2px 10px 1px #9eafc2;
  -webkit-transition: 500ms ease-in-out;
  transition: 500ms ease-in-out;
}

.article-btn-tooltip p {
  color: #9eafc2;
  font-size: 0.7rem;
}

.article .triangle {
  position: absolute;
  border: solid;
  border-width: 10px 10px 0 10px;
  border-color: #48556a transparent transparent transparent;
  top: 43px;
  left: 75px;
  width: 0;
  height: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #3e52a3;
}

.bg-dark {
  background: #48556a;
}

.btn-dark {
  background: #6d7f97;
}

.btn-dark svg path {
  fill: #ecf2f8;
}
/*# sourceMappingURL=main.css.map */